<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AL0Y_IEEE488_2_Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <AL0Y_IEEE488_2_Tester.Properties.Settings>
            <setting name="busAddress" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="waitBeforeWrite" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="waitBeforeRead" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="maxResponseSize" serializeAs="String">
                <value>1020</value>
            </setting>
        </AL0Y_IEEE488_2_Tester.Properties.Settings>
    </applicationSettings>
</configuration>